@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020205;
  --foreground: #ededed;
}

/* Tambahin Keyframes Shimmer di sini */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* Tambahin CSS 3D dan Animasi Wave */
.perspective-1000 {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
@keyframes wave {
  0% { transform: rotate(0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate(0.0deg) }
  100% { transform: rotate(0.0deg) }
}
.animate-wave {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

body {
  color: var(--foreground);
  background: var(--background);
}